body {
    font-size: 150%;
    font-family: 'Liberation Sans', Arial, sans-serif;
    padding: 60px;
    min-height:100vh;
}

img {
    border-radius: 50%;
   }

header, footer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #D62718;
    color: white;

}

/*
 * Photo de profil
 */
header img {
    width: 180px;
    display: block;
}

/*
 * Titre dans le header
 */
header div {
    width: 70%;
    text-align: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
     display: inline;
}
  
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 8px -8px;
}

section {
    background-color: #e0ddd2ec;
    color: black;
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 700px;
}

section img {
    height: 300px;
    width: 300px;
}

#presentation {
    flex-basis: 100%;
}

#expériences {
    line-height: 1.5px;
}

#competences  ul {
	margin:0;
	text-align:center;
    padding:0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#competences ul > li {
	width:280px;
	display: block;
    justify-content:center;
}

#competences img {
    height: 100px; 
    width: 100px; 
    border-radius: 0;
}

footer > a {
    display: block;
    color: inherit;
    float:left;
}

#projet {
    flex-basis: 100%;
}

#projet > div {
    display: flex;
    flex-flow: row wrap;
    
}

#projet > div > div {
    text-align: center;
    flex-grow: 1;
    flex-basis: 400px;
    
}

#projet > div > div > img {
    display: block;
    margin: auto;
    height: 300px; 
    width: 300px;  
}

.material-icons {
    font-size: 60px;
}

.trademarked-img {
    display: inline-block;
    border-radius: 0;
    height: 44px;
}

.push_button{
    position:relative;
    width:200px;
    color:#FFFFFF;
    display:block;
    text-decoration:none;
    margin: 100;
    border-radius:5px;
    background:#D62718;
    text-align:center;
    padding:10px 20px;
    display: block;
}

@media screen and (max-width:960px){
	li {
		width:100%;
		margin-bottom:10px;
	}
}